/* SM Extra small devices (portrait phones, less than 576px) */

@media (max-width: 500px) {
  .pasajeros {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  #container-header {
    display: flex;
  }
  #row-header {
    flex-direction: column-reverse;
  }
  .small {
    margin-left: 15px;
    margin-bottom: 20px;
  }
  .row-marg {
    margin-bottom: 0px;
  }
  .section-main {
    background-image: none;
    min-height: 1600px;
  }
  .background-overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .renta {
    display: flex;
    flex-direction: column;
    background: black;
  }
  .img-container {
    display: none;
  }
  #btnRentar {
    display: flex;
    justify-content: center;
    margin-left: -15px;
  }
  #divf {
    margin-top: 10px;
  }
}

/*md*/
@media (max-width: 768px) {
  .section-main {
    background-image: none;
    min-height: 1600px;
  }
  .background-overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .renta {
    display: flex;
    flex-direction: column;
    background: black;
  }
  .img-container {
    display: none;
  }
  #btnRentar {
    display: flex;
    justify-content: center;
    margin-left: -15px;
  }
  #divf {
    margin-top: 10px;
  }
  .card-title-s {
    font-size: 25px;
  }
  .black {
    margin-top: -800px;
  }
}

@media (max-width:825px) {
  .black {
      display: none;
    margin-top: -800px;
  }
  .section-main{
      min-height: 1700px;
  }

  .p-renta{
      margin-left: 0;
  }
}

/*lg*/
@media (max-width: 992px) {
  #btn-sabermas{
    width: auto;
  }
  .pasajeros {
    flex-direction: column;
  }
  .row-marg {
    margin-bottom: 0px;
  }
  .card-title-s {
    font-size: 15px;
  }
  .btn-manfred-white {
    font-size: small;
    padding: 5px 0px 5px 0px;
  }

  .img-container {
    display: none;
  }
  #btnRentar {
    display: flex;
    justify-content: center;
    margin-left: -15px;
  }
}

/*xl*/
@media (min-width: 1200px) {
}
