.navbar {
  /* box-shadow: 2px 2px 5px #000;*/
  opacity: 1;
}

.navbar .nav-item .nav-link {
  color: #fff;
}
.navbar .nav-item .nav-link:hover {
  color: #fff;
  font-weight: bold;
}
.header-main {
  background: url(../img/inicio.jpg);
  background-size: cover;
  min-height: 680px;
}
.card-services-s {
  background: rgba(48, 51, 107, 0);
}
.card-title-s {
  color: #fff;
}
.card-img-top-s {
  width: 50%;
}
/*CLASE QUE VAMOS A USAR PARA EL FONDO SERVICIOS TODO MÁS FACIL
BUsca en flatui colors*/
.section-main {
  position: relative;
  background: url(../img/services.jpg);
  background-size: cover;
  min-height: 680px;
}
.background-overlay {
  position: absolute;
  background: rgba(48, 51, 107, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.background-full-screen {
  min-height: 500px;
}
.background-form {
  background-color: #fff;
  box-shadow: 5px 10px 16px black;
}

/*FORM*/
/**/

.entrada {
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
  width: 150px;
  text-align: center;
  margin-left: 5px;
  margin-top: 0px;
}

.caja {
  overflow: hidden;
  position: relative;
}

select {
  text-align: left;
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 150px;
}

select:focus {
  outline: none;
}

.caja::after {
  content: "\025be";
  display: table-cell;
  text-align: center;
  padding-top: 7px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  position: absolute;
  top: 0;
  right: 0px;
  pointer-events: none;
}

/**/

.text-black {
  color: black;
}

.form-style {
  max-width: 400px;
  padding: 15px;
}

.btn-manfred {
  color: white;
  background-color: black;
  width: 50%;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 10px;
}

.btn-manfred:hover {
  color: white;
  font-weight: bold;
}
/*END FORM*/
/*vuela*/

.h1-vuela {
  font-size: 110px;
  font-weight: 600;
  line-height: normal;
}
.h2-descansa {
  font-size: 50px;
}
.h3-con {
  margin-top: 10px;
}

/*OFERTA*/
.oferta {
  background-color: white;
  min-height: 680px;
  
}
.row-marg {
  margin-bottom: -20px;
}
.h1-lo-primero {
  font-size: 30px;
  font-weight: bold;
}

.img-pilotos {
  width: 100%;
  height: auto;
}

@supports (object-fit: cover) {
  .img-pilotos {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.h3-oferta {
  font-size: 25px;
}

.h3-oferta-p {
  font-size: 21px;
}
/*END OFERTA*/
/*FLOTA*/
.h1-flota {
  font-size: 20px;
}

.card-shadow {
  box-shadow: 5px 5px 15px #d7d7d7;
}
.text-small {
  font-size: 20px;
}
.text-bold {
  font-weight: bold;
}

/*END FLOTA*/
/*SERVICIOS*/
.h2-servicios {
  font-size: 25px;
  margin-top: 15px;
}

.btn-manfred-white {
  background-color: white;
  color: black;
  box-shadow: 5px 10px 8px #0e0e0e;
}

.btn-manfred-white:hover {
  color: black;
}

.card {
  box-shadow: none;
}

.card-services-s {
  border: none;
}

.card-title-s {
  font-weight: bold;
  font-size: 25px;
}
/*END SERVICIOS*/

/*RENTA*/
.h1-renta {
  font-size: 25px;
  margin-top: 25px;
}

.p-renta {
  font-size: 20px;
  margin-bottom: 200px;
}

.img-container {
  /* background-color: burlywood;*/
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -150px;
}
.black {
  width: 100%;
  background-color: black;
  height: 500px;
  margin-top: -650px;
}

.img-c {
  /*  background-color: crimson;*/
  margin-top: 250px;
  height: 90%;
  width: auto;
}
/*RENTA*/

/*CONOCE MÁS*/
.conocemas {
  min-height: 700px;
}
/*END CONOCE MAS*/
/*FOOTER*/

h6 {
  margin-top: 10px;
}

.h1-footer {
  font-size: 15px;
}

#divf {
  margin: auto;
  margin-left: initial;
}
/*FOOTER*/

/* FONTS */


.font-erasm{
  font-family: 'ERASMD';
}
.font-erasm-bold{
  font-family: 'ERASMD';
  font-weight: bold;
}

@font-face {
  font-family: "ERASMD";
  src: url("../font/ERASMD.TTF");
}



